HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/bin/
/target/
.classpath
.project
.settings/

### Node ###
node_modules/
**/node_modules/

### Build artifacts ###
*.map
*.bak

### Non-essential project files ###
package.json
package-lock.json
README.md
pom-war.xml

### Upload files (large binaries) ###
src/main/resources/static/upload/
